@import "~@teambit/base-ui.layout.breakpoints/_breakpoints.scss";

.content {
  margin-bottom: 100px;
}

.icon {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  margin-bottom: 24px;
}

.contactButton {
  width: 146px;
  height: 32px;
  font-size: var(--p-xs, 14px);

  @media (max-width: $br-xs) {
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .linkArrow {
    font-size: 1em;
    transform: translate(3px, 1px);
    display: inline-block;
    margin-left: 10px;
  }
}

.paragraph {
  margin-bottom: 20px;
}
